@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

body{
  min-width: 100vh;
  background-color: #E5E5E5;
  margin: 0;
}
img {
  max-width: 300px;
  max-height: 500px;
}